[package]
name = "wasmcloud-example-provider-fakepay"
version = "0.2.3"
edition = "2021"
resolver = "2"

[dependencies]
async-trait = "0.1"
base64 = "0.13"
bytes = "1.0"
futures = "0.3"
log = "0.4"
once_cell = "1.8"
rmp-serde = "1.1.1"
serde_bytes = "0.11"
serde_json = "1.0"
serde = {version = "1.0", features = ["derive"] }
thiserror = "1.0"
tokio = { version = "1", features = ["full"] }
toml = "0.5"
wasmcloud-examples-payments = { version = "0.6", path="../../interface/payments/rust" }
wasmbus-rpc = { version = "0.13", features = ["otel"] }

[[bin]]
name = "fakepay"
path = "src/main.rs"
