#target-chooser {
  font: 30px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 2em 4em;
  position: relative;
}

#target-chooser .wrapper {
  border: 1px black dotted;
  padding: 1em 0.5em 1em 2em;
  position: relative;
}

#target-chooser label {
  font-style: italic;
  position: absolute;
  top: -25px;
  left: 10px;
  padding: 0 8px;
  background: white;
}

#target-chooser input {
  font: inherit;
  width: 100%;
  padding: 0 0.2em;
}

#target-chooser .link-to-source {
  font-size: small;
  color: rgb(48, 173, 48);
  text-decoration: none;
}

#target-chooser .link-to-source:hover {
  text-decoration: underline;
}

#target-chooser button {
  border: none;
  font: inherit;
  font-size: 40px;
  font-weight: 400;
  margin-top: 0.4em;
  margin-right: 0;

  float: right;

  padding: 0.2em 0.6em;
  background-color: rgb(48, 173, 48);
  color: white;

  -webkit-box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 1px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 1px rgba(50, 50, 50, 0.75);
}
#target-chooser button:hover {
  background-color: rgb(8, 123, 8); 
}

#target-info {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  padding: 1em 2em;

  background: rgb(36, 110, 190);
  color: rgb(243, 243, 243);
}

#target-info h2 {
  font-size: 1.5em;
  margin: 0;
}

#target-info a {
  font-size: 1.2em;
  color: inherit;
}

#target-info .target-url {
  font-style: italic;
  font-weight: 200;
}

#mocha {
  margin-top: 5px;
}
