[package]
name = "example-random"
version = "0.1.2"
authors = [ "wasmcloud Team" ]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
async-trait = "0.1"
futures = "0.3"
serde_bytes = "0.11"
serde = {version = "1.0", features = ["derive"]}
wasmbus-rpc = "0.8.2"
wasmcloud-interface-numbergen = "0.5.0"
wasmcloud-example-runner = { path = "../../interface/runner/rust" }

[profile.release]
# Optimize for small code size
lto = true
opt-level = "s"
